<div id="bulk-toolbar" hidden>
  <button id="bulk-select-all" class="btn" type="button">Select all</button>
  <button id="bulk-clear" class="btn" type="button">Clear</button>
  <button id="bulk-delete-btn" class="btn btn--danger" type="button">Delete selected</button>
</div>
