<a href="/image/<%= id %>/download" download class="btn">Download</a>
<a href="<%= imageSrc %>" target="_blank" rel="noopener" class="btn">View in new tab</a>
<a href="#confirm-delete" class="btn btn--danger">Delete</a>
