<a href="/image/<%= id %>/download" download class="btn btn--small">Download</a>
<a href="<%= imageSrc %>" target="_blank" rel="noopener" class="btn btn--small">View in new tab</a>
<a href="#confirm-delete" class="btn btn--small btn--danger">Delete</a>
